.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.selection {
  display: flex;
  color: rgb(84, 158, 61);
  flex-direction: column;
  padding-left: 10px;
  gap: 40px;


}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 30px;


}

.spaceholder {
  display: flex;
  flex-direction: column;
  gap: 10px;


}

body {
  padding: 0;
  margin: 0;
  font: 14px;
  font-family: "Sans serif";
  background-color: RGB(34, 40, 35);
}

* {
  margin: 0;
  padding: 0;
}

#sendbutton:hover {
  cursor: pointer;
}

.chatinputbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#chatinput {
  background-color: RGB(179, 181, 187);
  color: black;
  border-radius: 7px;
  height: 100%;
  width: 70vw;
  font-size: 1.4em;
}

#messagecontainer {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.reset {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  height: 40px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.reset>span {}

.reset:hover {
  background-color: rgba(255, 0, 0, 1);
}

.reset:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}




.message div {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
}

.imessage {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
  width: 95%;

}

.imessagetime {

}

.imessage div {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
}

.imessage div::before,
.imessage div::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

div.from-me {
  background-color: #248bf5;
  color: #fff;
  place-self: end;




}

div.from-me::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

div.from-me::after {
  background-color: RGB(34, 40, 35);
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform: translate(-30px, -2px);
  width: 10px;
}

div[class^="from-"] {
  margin: 0.5rem 0;
  width: fit-content;
}



div.from-them {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}

div.from-them:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

div.from-them::after {
  background-color: RGB(34, 40, 35);
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

.messagecontainer {
  display: flex;
}

.sender {
  font-weight: 900;
  padding: 0;
  justify-self: start;

}

.videocall {
  display: flex;
  flex-direction: column;
  column-gap: 30px;
}

.advertisment {
  display: flex;
  writing-mode: vertical-rl;
  align-items: center;
}